{% extends '././base/index.html' %}

{% block content %}

<h2>{% block title %}Consulta de indicación{% endblock %}</h2>

<div>
    <h3>Datos:</h3>
    <p style="text-align: left;">
        <strong>Id: </strong> {{ indicacion['id'] }} <br>
        <strong>Nombre: </strong> {{ indicacion['nombre'] }} <br>
        <strong>Explicación: </strong> {{ indicacion['explicacion'] }} 
    </p>
</div>
<div>
    <a href="{{ url_for('listar_indicaciones') }}">
        <button type="button">Volver a la lista</button>
    </a>
</div>

{% endblock %}