{% extends '././base/index.html' %}

{% block content %}

<h1>{% block title %}Actualizar indicación{% endblock %}</h1>
<form method="post">
    <h4>Datos del profesor</h4>
    <div>
        <label for="nombre">Nombre: </label>
        <input 
            type="text" 
            name="nombre" 
            id="nombre" 
            value="{{ vieja_indicacion['nombre'] }}"
        ><br><br>
        <label for="explicacion">Explicación: </label>
        <input 
            type="text" 
            name="explicacion" 
            id="explicacion" 
            value="{{ vieja_indicacion['explicacion'] }}"
        >
    </div>
    <div>
        <a href="{{ url_for('listar_indicaciones') }}">
            <button type="button">Cancelar</button>
        </a>
        <button type="submit">Actualizar</button>
    </div>
</form>

{% endblock %}