<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: lavender;
        }
        table, td, th {
            border: 1px solid black;
        }
        table {
            margin-left: auto;
            margin-right: auto;
        }
        h1, p {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Laboratorios Doofenshmirtz</h1>
    <p>
        <a href="{{ url_for('listar_categorias') }}">Mirar todas las categorías</a>
        <a href="{{ url_for('listar_examenes') }}">Mirar todos los examenes</a>
        <a href="{{ url_for('listar_indicadores') }}">Mirar todas las indicaciones</a>
    </p>
    {% for mensaje in get_flashed_messages() %}
    <p style="color: red;">{{ mensaje }}</p>
    {% endfor %}
    {% block content %}
    {% endblock %}
</body>
</html>