{% extends '././base/index.html' %}

{% block content %}
<h2>{% block title %}Indicaciones{% endblock %}</h2>
<a href="{{ url_for('crear_indicacion') }}">¿No encuentras una indicación? ¡Créala!</a>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Opciones</th>
    </tr>
    {% for indicacion in indicados %}
    <tr>
        <td>{{ indicacion['id'] }}</td>
        <td>{{ indicacion['nombre'] }}</td>
        <td>
            <a href="{{ url_for('consultar_indicacion', id=indicacion['id']) }}">Consultar</a>
            <a href="{{ url_for('actualizar_indicacion', id=indicacion['id']) }}">Actualizar</a>
            <a href="{{ url_for('eliminar_indicacion', id=indicacion['id']) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}