{% extends '././base/index.html' %}

{% block content %}
<h1>{% block title %}Indicaciones{% endblock %}</h1>
<ul>
    <li>
        <a href="{{ url_for('crear_indicacion') }}">
            Añadir una indicación
        </a>
    </li>
    <li></li>
    <li></li>
</ul>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Opciones</th>
    </tr>
    {% for indicacion in indicados %}
    <tr>
        <td>{{ indicacion['id'] }}</td>
        <td>{{ indicacion['nombre'] }}</td>
        <td>
            <a href="{{ url_for('consultar_indicacion', id=indicacion['id']) }}">Consultar</a>
            <a href="{{ url_for('actualizar_indicacion', id=indicacion['id']) }}">Actualizar</a>
            <a href="{{ url_for('eliminar_indicacion', id=indicacion['id']) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}