{% extends './base/index.html' %}

{% block content %}

<section class="botones">
    <button class="button button-clear" type="button">Exámenes por categoría</button>
    <button class="button button-clear" type="button">Indicación más común</button>
    <button class="button button-clear" type="button">Exámenes por precios</button>
</section>
<section class="">
<ul id="categorias">
    <ul>
        {% for servicio in apreciado['1 - 100'] %}
        <li>{{ servicio }}</li>
        {% endfor %}
    </ul>
</ul>
<ul id="indicaciones">

</ul>
<ul id="precios">

</ul>
</section>
<canvas id="myChart"></canvas>

{% endblock %}