{% extends './base/index.html' %}

{% block content %}

<section class="botones">
    <button class="button button-clear" type="button">Exámenes por categoría</button>
    <button class="button button-clear" type="button">Indicación más común</button>
    <button class="button button-clear" type="button">Exámenes por precios</button>
</section>
<section class="esconder">
<ul id="categorias">
</ul>
<ul id="indicaciones">

</ul>
<ul id="precios">

</ul>
</section>
<canvas id="myChart"></canvas>

{% endblock %}