{% extends './base/index.html' %}

{% block content %}

<section class="botones">
    <button class="button button-clear" type="button" onclick="categorias();">Exámenes por categoría</button>
    <button class="button button-clear" type="button" onclick="indicaciones();">Indicación más común</button>
    <button class="button button-clear" type="button" onclick="precios();">Exámenes por precios</button>
</section>
<section class="esconder">
    <div id="categorias">
        {% for categoria in categorizado %}
        <ul id="{{ categoria['nombre'] }}">
            {% for examen in categoria['lista'] %}
            <li>{{ examen }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div id="indicaciones">
        {% for indicacion in indicados %}
        <ul id="{{ indicacion['nombre'] }}">
            {% for examen in indicacion['lista'] %}
            <li>{{ examen }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div id="precios">
        <ul id="1 - 100">
            {% for servicio in apreciado['1 - 100'] %}
            <li>{{ servicio['id'] }}</li>
            {% endfor %}
        </ul>
        <ul id="101 - 200">
            {% for servicio in apreciado['101 - 200'] %}
            <li>{{ servicio['id'] }}</li>
            {% endfor %}
        </ul>
        <ul id="201 - 300">
            {% for servicio in apreciado['201 - 300'] %}
            <li>{{ servicio['id'] }}</li>
            {% endfor %}
        </ul>
        <ul id="301 - 500">
            {% for servicio in apreciado['301 - 500'] %}
            <li>{{ servicio['id'] }}</li>
            {% endfor %}
        </ul>
        <ul id="501 +">
            {% for servicio in apreciado['501 +'] %}
            <li>{{ servicio['id'] }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
<section id="charts">
    <canvas id="myChart"></canvas>
</section>

{% endblock %}