{% extends '././base/index.html' %}

{% block content %}

<h1>{% block title %}Actualizar Examen{% endblock %}</h1>
<form method="post">
    <h4>Datos: </h4>
    <div>
        <label for="nombre">Nombre: </label>
        <input 
            type="text" 
            name="nombre" 
            id="nombre"
            value="{{ viejo_examen['nombre'] }}"
        ><br><br>
        <label for="categoria">Categoría: </label>
        <select name="categoria" id="categoria">
            {% for categoria in divisiones %}
            <option value="{{ viejo_examen['categoria'] }}">{{ categoria['nombre'] }}</option>
            {% endfor %}
        </select><br><br>
        <label for="tipo">Tipo: </label>
        <select name="tipos" id="tipos">
            {% for tipo in caracteristicas %}
            <option value="{{ viejo_examen['tipo'] }}">{{ tipo['nombre'] }}</option>
            {% endfor %}
        </select><br><br>
        <label for="precio">Precio (en bolívares): </label>
        <input 
            type="text" 
            name="precio" 
            id="precio" 
            value="{{ viejo_examen['precio'] }}"
        ><br><br>
        <label for="indicaciones">Indicaciones: </label>
        <select name="indicaciones" id="indicaciones">
            {% for indicacion in descripciones %}
            <option value="{{ viejo_examen['indicaciones'] }}">{{ indicacion['nombre'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <a href="{{ url_for('listar_examenes') }}">
            <button type="button">Cancelar</button>
        </a>
        <button type="submit">Actualizar</button>
    </div>
</form>

{% endblock %}