{% extends './base/index.html' %}

{% block content %}
<h1>{% block title %}Indicaciones{% endblock %}</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Opciones</th>
    </tr>
    {% for indicacion in indicados %}
    <tr>
        <td>{{ indicacion['id'] }}</td>
        <td>{{ indicacion['nombre'] }}</td>
        <td>
            <a href="{{ url_for('consultar_indicacion', id=indicacion['_id']) }}">Consultar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}