{% extends '././base/index.html' %}

{% block content %}

<h2>{% block title %}Consulta de categoría{% endblock %}</h2>

<div>
    <h3>Datos:</h3>
    <p style="text-align: left;">
        <strong>Id: </strong> {{ vieja_categoria['id'] }} <br>
        <strong>Nombre: </strong> {{ vieja_categoria['nombre'] }} <br>
        <strong>Descripción: </strong> {{ vieja_categoria['descripcion'] }}
    </p>
</div>
<div>
    <form method="post">
        <a href="{{ url_for('listar_categorias') }}">
            <button type="button">Volver a la lista</button>
        </a>
        <button type="submit">Eliminar</button>
    </form>
</div>

{% endblock %}