{% extends '././base/index.html' %}

{% block content %}

<form method="post">
    <div>
        <label for="">Nombre de usuario: </label>
        <input type="text" name="" id="" required>
        <label for="">Contraseña: </label>
        <input type="password" name="" id="" required>
        <label for="">Contraseña (de nuevo): </label>
        <input type="password" name="" id="" required>
    </div>
    <div>
        <button type="submit">Registrar usuario</button>
    </div>
    <p>
        <a href="{{ url_for('iniciar_sesion') }}">¿Ya tienes una cuenta? ¡Inicia sesión!</a>
    </p>
</form>

{% endblock %}